* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 4vh 4vw;
    height: 10vh;
    position: sticky;
    top: 0;
    background: #EFE1E1;
}

.logo {
    width: 17vw;
    height: 5vh;
    margin-top: -1.7vh;
    padding-right: 2vw;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 18vw;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
    cursor: pointer;
}

header a:hover {
    color: #b33d72;
}

main {
    display: flex;
    height: 90vh;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: 25vw;
    padding: 5vh 5.5vw;
    box-shadow: 0.1vw 1vh 1vh rgba(214, 214, 214, 0.4);
}

.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

#search {
    border: gray solid;
    width: 17.5vw;
    height: 4.5vh;
    border-radius: 1.5vw;
    padding: 1vh 1vw;
    margin: 2.5vh;
}

button {
    width: 10vw;
    height: 2.2vw;
    border-radius: 5vw;
    border: #ce7ea2;
    background-color: #ce7ea2;
    color: white;
    cursor: pointer;
    margin-bottom: 1.5vh;
}

button:hover {
    border: #b33d72 solid;
    background-color: #b33d72;
}


h2 {
    font-size: 1.8vw;
    text-align: center;
    margin: 1vh;
}

.sorting {
    width: 20vw;
    border-top: #b33d72 solid;
    border-bottom: #b33d72 solid;
    padding: 2vh 0;
}

.sortCat {
padding: 1vh 0;
font-size: 1.2vw;
color: black;
}

input {
    margin-right: 0.5vw;
}

p {
    font-size: 2vw;
    text-align: center;
    margin: 5vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35vh;
    width: 100vw;
    gap: 8vh 2vw;
    padding: 2vh 2vw 2vw 2vh;
    height: 100%;
    overflow-y: scroll;
}

.item {
    padding: 6vh 2vw;
    border: #b33d72 solid;
    height: 40vh;
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#f3e7e7, #ffffff);
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBody h2 {
    margin-bottom: 0.7vh;
    font-size: 2vw;
}

.cardText {
    font-size: 1.2vw;
    margin: 1vh;
}

.itemImage {
    height: 12vh;
    width: 8vw;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}


